<!DOCTYPE html>
<html lang="{{ htmllang() }}">

  {{ include('_head.twig') }}

  <body>

    {% block menu %}
      {{ menu('main', '_menu.twig') }}
    {% endblock menu %}

    <div id="header" class="container grid-md">
        <h1 class="text-center">
            <a href="{{ path('homepage') }}">
                {{ config.get('general/sitename') }}
            </a>
        </h1>

        <span class="lead text-center">
          {% if config.get('general/payoff') %}
            {{ config.get('general/payoff')|markdown }}
          {% endif %}
        </span>


    </div>

    <div class="content mt-2 container grid-md">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
