<!DOCTYPE html>
<html lang="{{ htmllang() }}">

  {{ include('_head.twig') }}

  <body>

    {% block menu %}
      {{ menu('main', '_menu.twig') }}
    {% endblock menu %}

    <div id="header" class="container grid-md">
        <h1 class="text-center">
            <a href="{{ path('homepage') }}">
                {{ config.get('general/sitename') }}
            </a>
        </h1>

        {% if config.get('general/payoff') %}
        <span class="text-center">
          {{ config.get('general/payoff')|markdown }}
        </span>
        {% endif %}

    </div>

    <div class="content mt-2 container grid-md">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
