{% extends 'record.twig' %}

{% block othercontent %}
  {% for ct in config.get('contenttypes') if ((not ct.viewless) and (not ct.hide_in_listings)) | default(false) %}
    {% setcontent records = ct.slug %}
    <div class="latest">
      <h4>
        {{ ct.name }}
      </h4>
      <ul class="latest-posts">
        {% for record in records %}
        <li>
          <h5>
            <a href="{{ record.link }}">
              {{ record.title }}
            </a>
          </h5>
          <small>{{ record.datepublish|localedatetime("%d.%m.%Y") }}</small>
        </li>
        {% else %}
          <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endblock othercontent %}
