<style>
    .passwordprotect p.message {
        border: 1px solid #BDE;
        background-color: #CEE6FD;
        border-radius: 3px;
        font-weight: normal;
        padding: 4px 8px;
    }

    .passwordprotect p.message-correct {
        border: 1px solid #9F9;
        background-color: #DFD;
    }

    .passwordprotect p.message-wrong {
        border: 1px solid #FBB;
        background-color: #FDD;
    }
</style>

<form action="#" method="post" class="passwordprotect form-horizontal">
    {% if notice is not empty %}
        {{ notice }}
    {% endif %}

    {% if not passwordprotect_username() %}
        {{ form_widget(form) }}

        <button class="btn btn-success btn-block" type="submit" name="{{ labels.login }}" value="{{ labels.login }}">
          {{ labels.login }}
        </button>
    {% else %}
        <input type="hidden" id="form__token" name="form[_token]" value="{{ form._token.vars.value }}" />
        <button class="btn btn-error btn-block" type="submit" name="{{ labels.logout }}" value="{{ labels.logout }}">
          {{ labels.logout }}
        </button>
    {% endif %}

</form>
